.thanks-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.thanks-header {
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 100;
  position: fixed;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.thanks-navbar-interactive {
  height: 61px;
  background-color: #293731;
}
.thanks-image {
  width: 189px;
  height: 55px;
  object-fit: cover;
  text-decoration: none;
}
.thanks-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.thanks-links {
  gap: var(--dl-space-space-sixunits);
  flex: 1;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.thanks-nav12 {
  color: var(--dl-color-custom-secondary1);
  font-size: 19px;
  align-self: center;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-transform: none;
  text-decoration: none;
}
.thanks-nav22 {
  color: var(--dl-color-custom-secondary1);
  font-size: 19px;
  align-self: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.thanks-nav42 {
  color: var(--dl-color-custom-secondary1);
  font-size: 19px;
  align-self: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.thanks-nav52 {
  color: var(--dl-color-custom-secondary1);
  font-size: 19px;
  align-self: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.thanks-burger-menu {
  display: none;
}
.thanks-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.thanks-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
}
.thanks-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.thanks-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.thanks-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.thanks-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.thanks-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.thanks-nav121 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.thanks-nav221 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.thanks-nav421 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.thanks-nav521 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.thanks-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.thanks-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.thanks-icon06 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.thanks-features-container {
  width: 100%;
  height: 789px;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.thanks-features {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 200px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.thanks-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.thanks-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.thanks-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.thanks-footer {
  height: 217px;
  padding-top: var(--dl-space-space-halfunit);
}
.thanks-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.thanks-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.thanks-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.thanks-nav122 {
  text-decoration: none;
}
.thanks-nav222 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.thanks-nav522 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.thanks-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.thanks-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.thanks-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.thanks-link2 {
  display: contents;
}
.thanks-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.thanks-link3 {
  display: contents;
}
.thanks-icon10 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .thanks-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 849px) {
  .thanks-navbar-interactive {
    position: relative;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .thanks-desktop-menu {
    display: none;
  }
  .thanks-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .thanks-icon {
    fill: #ffffff;
    width: auto;
    height: 40px;
  }
  .thanks-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .thanks-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .thanks-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .thanks-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .thanks-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .thanks-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .thanks-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .thanks-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .thanks-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .thanks-container3 {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .thanks-text17 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .thanks-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .thanks-icon {
    fill: #ffffff;
  }
  .thanks-mobile-menu1 {
    padding: 16px;
  }
  .thanks-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .thanks-footer {
    padding: var(--dl-space-space-unit);
  }
  .thanks-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .thanks-container3 {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .thanks-text17 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
