.therapies-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.therapies-header {
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 100;
  position: fixed;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.therapies-navbar-interactive {
  height: 61px;
  background-color: #293731;
}
.therapies-image {
  width: 189px;
  height: 55px;
  object-fit: cover;
  text-decoration: none;
}
.therapies-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.therapies-links {
  gap: var(--dl-space-space-sixunits);
  flex: 1;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.therapies-nav12 {
  color: var(--dl-color-custom-secondary1);
  font-size: 19px;
  align-self: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 150%;
  text-transform: none;
  text-decoration: none;
}
.therapies-nav22 {
  color: var(--dl-color-custom-secondary1);
  font-size: 19px;
  align-self: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.therapies-nav42 {
  color: var(--dl-color-custom-secondary1);
  font-size: 19px;
  align-self: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.therapies-nav52 {
  color: var(--dl-color-custom-secondary1);
  font-size: 19px;
  align-self: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.therapies-burger-menu {
  display: none;
}
.therapies-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.therapies-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
}
.therapies-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.therapies-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.therapies-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.therapies-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.therapies-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.therapies-nav121 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.therapies-nav221 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.therapies-nav421 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.therapies-nav521 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.therapies-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.therapies-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.therapies-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.therapies-features-container {
  width: 100%;
  height: 1270px;
  align-self: stretch;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}
.therapies-container1 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.therapies-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.therapies-features {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.therapies-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.therapies-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.therapies-image1 {
  width: 100%;
  height: 186px;
  align-self: center;
  object-fit: cover;
  border-radius: 10px;
}
.therapies-text03 {
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.therapies-container4 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.therapies-image2 {
  width: 100%;
  height: 190px;
  align-self: center;
  object-fit: cover;
  border-radius: 10px;
}
.therapies-text33 {
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.therapies-footer {
  height: 217px;
  padding-top: var(--dl-space-space-halfunit);
}
.therapies-image3 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.therapies-container5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.therapies-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.therapies-nav122 {
  text-decoration: none;
}
.therapies-nav222 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.therapies-nav522 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.therapies-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.therapies-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.therapies-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.therapies-link2 {
  display: contents;
}
.therapies-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.therapies-link3 {
  display: contents;
}
.therapies-icon10 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .therapies-features-container {
    height: 100%;
  }
  .therapies-container1 {
    align-items: center;
    justify-content: flex-start;
  }
  .therapies-features {
    width: 100%;
  }
  .therapies-image1 {
    width: 100%;
    height: 275px;
  }
  .therapies-image2 {
    width: 100%;
    height: 100%;
  }
  .therapies-text34 {
    width: 100%;
    height: auto;
    align-self: flex-start;
  }
}
@media(max-width: 849px) {
  .therapies-navbar-interactive {
    position: relative;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .therapies-desktop-menu {
    display: none;
  }
  .therapies-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .therapies-icon {
    fill: #ffffff;
    width: auto;
    height: 40px;
  }
  .therapies-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .therapies-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .therapies-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .therapies-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .therapies-features-container {
    width: auto;
    height: 100%;
  }
  .therapies-features {
    gap: 0;
    width: var(--dl-size-size-maxwidth);
    flex-wrap: wrap;
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .therapies-container2 {
    height: 100%;
    grid-template-columns: 1fr;
  }
  .therapies-container3 {
    flex-wrap: wrap;
  }
  .therapies-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .therapies-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .therapies-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .therapies-text67 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .therapies-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .therapies-icon {
    fill: #ffffff;
  }
  .therapies-mobile-menu1 {
    padding: 16px;
  }
  .therapies-features-container {
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .therapies-features {
    width: 100%;
    height: 100%;
    max-width: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .therapies-container2 {
    height: 100%;
  }
  .therapies-image1 {
    align-self: center;
  }
  .therapies-container4 {
    justify-content: center;
  }
  .therapies-footer {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
  .therapies-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .therapies-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .therapies-text67 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
